* {margin:0; padding: 0; box-sizing: border-box;}
body {
	color: white;
	background-color: #2a2a2a;
	background-image: "img/wireframecad.jpg"
	background-size: cover
	font-size: 16px;
	font-family: 'Lora', serif;
}	
img {}


h1 {
	text-decoration: underline;
	font-size:2em;
}
li {
	margin-left:1.25em;
}
#slogan {
	background: yellow;
	font-weight: bold;
	color: #777777;
	padding:.7em;
}
.wrapper {
	margin:0 auto 0 auto;
	max-width:75em;
}
ul {
	font-style: italic;
}
